title {
    font-size: 45px;
    font-family: Ayuthaya;
    /* text-align: left; */
    background-image: linear-gradient(to right, #0095ff, #7b00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
    /* display: flex;
    align-items: center; */
    height: 100%;
    /* 或者根据需要设置高度 */
  }